@font-face {
    font-family: "Style Rustique";
    src: local("Style Rustique") url("fonts/StyleRustique.ttf") format("truetytpe");
}

h1 {
    font-family: "Style Rustique", sans-serif;
}

.slado-text {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}
